@{
    Layout = null;
}

<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">

        <stats number="Linux" comments="Debian GNU/Linux 7.0" colour="primary" type="linux" goto="home"></stats>
        <stats number="24" comments="Running Processes" colour="green" type="tasks" goto="home"></stats>
        <stats number="45 °C" comments="Average CPU Temp" colour="yellow" type="dashboard" goto="home"></stats>
        <stats number="421MB" comments="92% memory consumed" colour="red" type="server" goto="home"></stats>
    </div>

    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">

        </div>

        <div class="col-lg-4">


        </div>
    </div>
    <!-- /.row -->
</div>
